/* Chosen Overrides */
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	height:auto !important;	
	padding:8px;
	padding-left:12px;
	font-family:inherit;
	font-size:14px;
}

.chosen-container-multi .chosen-choices {
	border: 1px solid #ccc;
	border-radius:4px;
}

.chosen-container-multi .chosen-choices li.search-choice {
	margin-top:5px;
	
}

.dept_active {
	font-weight:bold;
}
